{% extends 'base.html' %}

{% block content %}
<center>
<h2 class="display-3">Inicio sesion</h2>
</center><br><br>
  <div class="container">
    <div class="row row-cols-3">
      <div class="col"></div>
      <div class="col">
        
        <form action= "" method="POST">
        {% csrf_token %}
          <label for="fname">Nombre de Usuario:</label><br>
          <input type="text" id="nameuser" name="nameuser" value="Usuario"><br><br>
          <label for="lname">Contraseña:</label><br>
          <input type="password" id="password" name="password" value="Pass1"><br><br>
          <input type="submit" value="Ingresar">
        </form><br>
        {{ error }}
      </div>
      <div class="col"></div>
      
    </div>
  </div>


{% endblock %}